In [4]:
#Declaring variable & printing it's results

name = 'Muhammad Saad'
email = 'sm.saad50@gmail.com'
age = 33
father_name = 'Muhammad Ashfaq'
city = 'Karachi'
address = 'Sheikh Residency appartment, Nazimabad block #4, '

print('My name is ' + name)
print('My email add is ' + email)
print('And I am ' + str(age) +  ' years old')
print('My father name is ' + father_name)
print('I live in '+ address+city)

My name is Muhammad Saad
My email add is sm.saad50@gmail.com
And I am 33 years old
My father name is Muhammad Ashfaq
I live in Sheikh Residency appartment, Nazimabad block #4, Karachi

In [5]:
# Numerical Data Types. Here I used int & float. x is in int & y is in float.
x  = 10
y = 12.30
print(y-x)

2.3000000000000007

In [6]:
# Strings Data Types in Python.
institute = 'Saylani'
batch = 'batch # 3'
course = 'AI & Data Science Course'
instructor = 'Sir Qasim'
print(' I am studying in '+institute+' & I am registered in '+batch +' for '+course+ ' & My instructor is name '+instructor)

 I am studying in Saylani & I am registered in batch # 3 for AI & Data Science Course & My instructor is name Sir Qasim

In [7]:
# Checking Data in Python.
print(type(x))
print(type(y))
print(type(institute))

<class 'int'>
<class 'float'>
<class 'str'>

In [8]:
# List in Python
mylist = [10,20,30,40,20,30, 'Saylani']
print(mylist)

[10, 20, 30, 40, 20, 30, 'Saylani']